.Home-Ad {
    display: flex;
    justify-content: space-around;
    margin: 5% 10%;
}
.Home-Ad-text {
    width: 50%;
    white-space: wrap;
}
.Home-Ad-text h1{
    font-weight: 600;
}







/* help page drop down */
.Help-text-header {
    text-align: center;
    font-size: 2rem;
    color: var(--body_text_color);
}
.Help-drop-down {
    margin: 0 15%;
    white-space: wrap;
}
.Help-drop-down-ul {
    color: var(--body_text_color);
}
.Help-drop-down-ul h2{
    font-weight: 400;
    cursor: pointer;
}
.Help-drop-down-ul li{
    font-weight: 300;
    opacity: 0.8;
}