:root {
  --body_main_background: #F3F4F6;  /*พื้นหลังสุด*/
  --body_main_navbar: #FFFFFF;     /*พื้นหลังของ nav bar*/
  --body_sub_navbar: #F8F7FF;      /*เมนู nav bar*/
  --body_text_color: #2a3749;       /*สีของข้อความหลัก*/
  --body_hover_text_color: #9183FF; /*สีของข้อความหลักเมื่อกดค้าง*/
  --text_nav_bar:#82848F;          /*สีจางๆของข้อความที่ nav bar*/

  --line_header: #E7E9ED;
}
[data-theme="dark"] {
  --body_main_background: #111827;
  --body_main_navbar: #1F2937;
  --body_sub_navbar: #363A65;
  --body_text_color: #F3F4F6;
  --body_hover_text_color: #7A6CF8;
  --text_nav_bar:#82848F;
  
  --line_header: #232C3C;
}
body {
    margin: 0;
    background-color: var(--body_main_background);
    color: var(--body_text_color);
    font-family: "Mitr", sans-serif;
}
*::selection {
  background-color: var(--body_hover_text_color);
}